* {
	margin: 0;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

html {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #519548;
	background-color: #F2F2F2;
}

body {
	
}

h1 {
	font-size: 40px;
	font-weight: 1100;
	margin: 0 0 10px 0;
}

h1 a {
	text-decoration: none;
	color: #519548;
}

h1 a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 15px;
	text-align: justify;
}

header {
	background-color: #519548;
	/* Safari 4+ y Chrome 1+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #519000),
		color-stop(1, #519548));
	/* Safari 5.1+ y Chrome 10+ */
	background-image: -webkit-linear-gradient(#519000, #519548);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #519000, #519548);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #519000, #519548);
	/* Internet Explorer 5.5+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#519000',
		EndColorStr='#519548');
	color: #EAFDE6;
	min-height: 72px;
	width: 960px;
	margin: auto;
}

header .button {
	background: #EAFDE6;
	color: #519548;
}

header .header {
	float: left;
	margin-right: 2%;
}

header h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 44px;
	color: #EAFDE6;
}

.content {
	background-color: #F2F2F2;
	width: 960px;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}

.content,footer {
	max-width: 90%;
	margin: auto;
}

footer {
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-align: right;
	width: 960px;
}
/**TablaDispositivos**/
.tablaDispositivos ::-webkit-scrollbar {
	width: 12px;
}

.tablaDispositivos ::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}

.tablaDispositivos ::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

.tablaDispositivos ::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

.dispositivos {
	display: block;
}

.tablaDispositivos {
	border-collapse: collapse;
	width: 100%;
}

.tablaDispositivos thead {
	background-color: #519548;
	color: #EAFDE6;
	text-align: justify;
	display: table;
	float: left;
	width: 100%;
	padding: 15px;
}

.tablaDispositivos thead tr {
	display: table-row;
	width: 100%;
	height: 30px;
}

.tablaDispositivos tbody {
	background: #CFF09E;
	color: #444;
	text-decoration: none;
	height: 20%;
	display: block;
	height: 220px;
	overflow: auto;
	float: left;
	width: 100%;
	vertical-align: middle;
}

.tablaDispositivos tbody tr {
	display: table;
	width: 100%;
	height: 12%;
}

.tablaDispositivos th,.tablaDispositivos td {
	width: 20%;
	height: 10%;
	text-align: left;
}

.tablaDispositivos td {
	padding: 12px 5px;
	overflow: auto;
	vertical-align: middle;
}

.tablaDispositivos th {
	padding: 10px 8px;
}

.tablaDispositivos tr:after {
	content: ".";
	visibility: hidden;
}

.tablaDispositivos tbody tr:hover {
	background: #EAFDE6;
	color: #444;
}

.tablaDispositivos tbody tr.highlighted {
	background: #eee;
	color: #519548;
}

.tablaDispositivos tbody tr.highlighted:last-child  tbody td:first-child
	{
	background: #eee;
	color: #519548;
}

.tablaDispositivos tbody tr.highlighted:last-child tbody td:last-child {
	background: #eee;
	color: #519548;
}

.tablaDispositivos tbody tr.highlighted:hover tbody td {
	background: #eee;
	color: #444;
}

.tablaDispositivos tbody tr.highlighted:hover tbody td:last-child {
	background: #eee;
	color: #444;
}

.tablaDispositivos tbody tr.highlighted:hover tbody td:first-child {
	background: #eee;
	color: #444;
}

/**TablaAlertas**/
.tablaAlertas ::-webkit-scrollbar {
	width: 12px;
}

.tablaAlertas ::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}

.tablaAlertas ::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

.tablaAlertas ::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

.alertas {
	display: block;
}

.tablaAlertas {
	border-collapse: collapse;
	width: 100%;
}

.tablaAlertas thead {
	background-color: #519548;
	color: #EAFDE6;
	text-align: justify;
	display: table;
	float: left;
	width: 100%;
	padding: 15px;
}

.tablaAlertas thead tr {
	display: table-row;
	width: 100%;
	height: 30px;
}

.tablaAlertas tbody {
	background: #CFF09E;
	color: #444;
	text-decoration: none;
	height: 20%;
	display: block;
	height: 220px;
	overflow: auto;
	float: left;
	width: 100%;
	text-align: left;
	vertical-align: middle;
}

.tablaAlertas tbody tr {
	display: table;
	width: 100%;
	height: 12%;
}

.tablaAlertas th,.tablaAlertas td {
	width: 11%;
	height: 10%;
	text-align: left;
}

.tablaAlertas td {
	padding: 10px 2px;
	overflow: auto;
}

.tablaAlertas th {
	padding: 10px 5px;
}

.tablaAlertas tr:after {
	content: ".";
	visibility: hidden;
}

.tablaAlertas tbody tr:hover {
	background: #EAFDE6;
	color: #444;
}

.tablaAlertas tbody tr.highlighted {
	background: #eee;
	color: #519548;
}

.tablaAlertas tbody tr.highlighted:last-child  tbody td:first-child {
	background: #eee;
	color: #519548;
}

.tablaAlertas tbody tr.highlighted:last-child tbody td:last-child {
	background: #eee;
	color: #519548;
}

.tablaAlertas tbody tr.highlighted:hover tbody td {
	background: #eee;
	color: #444;
}

.tablaAlertas tbody tr.highlighted:hover tbody td:last-child {
	background: #eee;
	color: #444;
}

.tablaAlertas tbody tr.highlighted:hover tbody td:first-child {
	background: #eee;
	color: #444;
}

.fila {
	width: 100%;
	height: 100%;
	overflow: auto;
}
/**botones**/
.botones {
	position: relative;
	top: 50%;
}

.button {
	background: #519548;
	border: none;
	color: #EAFDE6;
	font: 13px 'Droid Sans', sans-serif;
	padding: 10px 15px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 12px;
	letter-spacing: 1px;
}
/**Dispositivos**/
#listaResultados {
	list-style: none;
	border: 5px solid #519548;
}

#listaResultados li {
	border: 3px solid #CFF09E;
}

#detalleInfo {
	display: none;
	position: absolute;
}

#nuevoInfo {
	display: none;
}

#borrarInfo {
	display: none;
}

#activarInfo {
	display: none;
}

#desactivarInfo {
	display: none;
}

.dispositivoDetalle table,.dispositivoDetalle td,.dispositivoDetalle th
	{
	border: 0px;
}

.dispositivoDetalle thead {
	float: left;
}

.dispositivoDetalle thead th {
	display: block;
	height: 20px;
	padding-right: 5px;
}

.dispositivoDetalle tbody {
	float: right;
}

.dispositivoDetalle tbody td {
	display: block;
	height: 20px;
	text-align: center;
}

#nuevoInfo {
	width: auto;
	position: relative;
}

.formularioDetalle,.formularioResultado {
	width: auto;
	float: left;
}

#nuevoInfo label,#nuevoInfo input , #nuevoInfo select{
	display: inline-block;
	vertical-align: baseline;
	width: 145px;
}

#nuevoInfo label {
	color: #2D2D2D;
	font-size: 15px;
}

#nuevoInfo form,#nuevoInfo input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#nuevoInfo form {
	width: 300px;
}

/*** Sticky Menu ***/
nav {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #519548;
	height: 44px;
	font-size: 30px;
	width: 960px;
	margin: auto;
}

nav ul {
	margin: 0 auto;
	width: 940px;
	height: 32px;
}

nav ul li {
	display: table-cell;
	padding-right: 20px;
	height: 32px;
}

nav ul li a {
	text-decoration: none;
	color: #EAFDE6;
	font-weight: bold;
}

nav ul li a:hover {
	text-decoration: underline;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/**ESTACIONES**/
#googleMap {
	height: 100%;
	margin: 0px;
	padding: 0px
}
/**INICIO**/
#niveles {
	float: left;
	width: 50%;
	height: 300px;
	padding-bottom: 10px;
}

#informeSemanal {
	float: left;
	width: 50%;
	height: 300px;
	padding-bottom: 10px;
}

#ultimasAlertas {
	float: left;
	width: 50%;
	height: 300px;
	padding-bottom: 7px;
}

#recomendaciones {
	float: left;
	width: 50%;
	height: 300px;
	padding-bottom: 7px;
}

#menu {
	padding: 0;
}

#menu li {
	display: inline;
}

#menu li a {
	background: #519548;
	padding: 10px;
	float: left;
	border-right: none;
	border-bottom: none;
	text-decoration: none;
	color: #444;
	font-weight: bold;
}

#menu li.active a {
	background: #CFF09E;
}

.contenidoSemanal {
	float: left;
	clear: both;
	background: #EAFDE6;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFF09E),
		to(#EAFDE6));
	background: -moz-linear-gradient(center top, #CFF09E, #EAFDE6 100%);
	width: 100%;
	height: 80%;
}

ol {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol ol {
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list a {
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background: #CFF09E;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;
}

.rectangle-list a:hover {
	background: #eee;
}

.rectangle-list a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #519548;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

.rectangle-list a:after {
	position: absolute;
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;
}

.rectangle-list a:hover:after {
	left: -.5em;
	border-left-color: #519548;
}

/**INFORMES**/
.formulario {
	width: 23%;
	float: left;
	height: 100%;
	padding-right: 20px;
}

.formulario fieldset {
	height: 50%;
	background: #EAFDE6;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFF09E),
		to(#EAFDE6));
	background: -moz-linear-gradient(center top, #CFF09E, #EAFDE6 100%);
	border: none;
}

.formulario legend {
	font-weight: bold;
	padding: 5px 8px;
	background-color: #519548;
	color: #444;
	box-shadow: 2px 2px 4px #444;
	-moz-box-shadow: 2px 2px 4px #444;
	-webkit-box-shadow: 2px 2px 4px #444
}

.formulario input {
	display: inline;
}

.formulario form {
	margin: 0;
	padding: 0;
}

.formulario div {
	display: inline-block;
	padding-bottom: 20px;
}

.formulario li {
	display: inline-block;
}

.formulario input {
	display: inline-block;
}

.formulario label {
	display: block;
}

.formulario input[type=submit] {
	position: absolute;
	left: 0;
	bottom: 10%;
}

#historico {
	position: absolute;
	right: 0;
	bottom: 10%;
}

/**LOGIN**/
.loginDiv,.logout {
	margin-top: 2px;
	margin-left: 36px;
	position: relative;
	display: inline-block;
	width: 10%;
	float: left;
}

.loginform div {
	float: right;
}

.loginform input[type=submit] {
	position: absolute;
	float: right;
	right: -100px;
	top: 36px;
}